{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
{% if request.user.meter %}
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 p-3">
      {% if not request.user.meter.active %}
      <p class="text-danger">
        Sorry, your metter has not been approved yet.
      </p>
      {% endif %}
      <div class="card bg-dark text-white">
        <div class="card-body">
          <p>
            {% if request.user.meter.active %}
            <span class="bg-success text-white p-3">Active</span>
            {% else %}
            <span class="bg-danger text-white p-3">Inactive</span>

            {% endif %}
          </p>
          <hr>
          <h3 class="text-center">
            Meter #: {{ request.user.meter.meter_id }}
          </h3>
          <hr class="text-white color-white">
          <p>Available Current</p>
          <div>

            <div class="display-3">
              {{ request.user.meter.current_power }} W
            </div>
          </div>
          <hr>
          <div class="d-flex flex-row justify-content-between">
            <div>
              Usage: 35 W
            </div>
            <div>
              Up Time: <span id="minutes">00</span>: <span id="seconds">00</span>
            </div>

          </div>
        </div>
      </div>
      <div class="row mt-4">
        <a href="{% url 'godalem:buy-power' %}" class="btn btn-success btn-lg p-4 m-4">
          Buy Power
        </a>
        <a href="{% url 'godalem:history' request.user.id %}" class="btn btn-dark btn-lg p-4 m-4">
          History
        </a>
      </div>
    </div>

    <div class="col-md-2"></div>

  </div>


</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="display-3">
      Welcome to GODAL EC
    </div>
    <p>
      Please request for a metter below
    </p>

  </div>
  <div class="row">
    <div>
      <a href="{% url 'godalem:request-meter' %}" class="btn btn-lg btn-dark">
        Request Meter
      </a>
    </div>
  </div>
</div>
{% endif %}

<script>
  var minutes = document.getElementById('minute');
  var seconds = document.getElementById('seconds');
  var totalSeconds = 0;
  setInterval(setTime, 1000);

  function setTime() {
    ++totalSeconds;
    seconds.innerHTML = pad(totalSeconds % 60);
    mintues.innerHTML = pad(parseInt(totalSeconds / 60));
  }

  function pad(value) {
    var valString = val + "";
    if (valString.length < 2) {
      return "0" + valString;
    } else {
      return valString;
    }
  }
</script>
{% endblock content %}